* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color:lightblue;
  color:black;
  margin: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 2px solid #51382B;
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  width: 180px;
  height: auto;
  corner-bottom-left-shape: bevel;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFC3D8;
  padding: 10px;
  max-width: 200px;
  border: 2px solid #51382B;
  border-radius: 5px;
  border-bottom-left-radius: 30px;
}