* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:lightblue;
  color:black;
}

header {
  text-align: center;
  background-color:#FFC3D8;
  padding: 5px;
  width: 100%;
}

header a {
  font-family: "Emilys Candy", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
  color:#51382B;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav {
  display: flex;
  padding: 0.25rem;
  gap: 8rem;
  justify-content: center;
}

nav a {
  display: inline-block;
  background-color: #FFC3D8;
  border-radius: 15px;
  min-width: 9rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color:#51382B;
}

.text {
  display: flex;
  flex-direction: column;
}

img {
  width: 220px;
  height: auto;
  margin: 5px 30px;
  padding: 5px;
  background-color: #FFC3D8;
  border-radius: 15px;
}

footer {
  background-color:#FFC3D8;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}