* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#d1fffc 20%, transparent 20%),
    radial-gradient(#58e8de 20%, transparent 20%);
  background-color: #fafafa;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  color: #51382B;
}

header {
  text-align: center;
  background-color:#FFC3D8;
  border-bottom: 1.25px solid #51382B;
  padding: 5px;
  width: 100%;
}

header a {
  font-family: "Emilys Candy", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
  color:#51382B;
}

main {
  display: flex;
  gap: 20px;
  margin: 10px;
}

nav {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  font-size: 17px;
  justify-content: center;
}

nav a {
  display: inline-block;
  background-color: #FFC3D8;
  border-radius: 40px;
  min-width: 6.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color:#51382B;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

p {
  margin-top: 5px;
}

.outfit {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 15px;
}

img {
  width: 220px;
  height: auto;
  margin: 5px 30px;
  padding: 5px;
  background-color: #FFC3D8;
  border-radius: 15px;
}

.outfit article {
  align-self: center;
}

footer {
  background-color:#FFC3D8;
  border-top: 1.25px solid #51382B;
  font-size: 11px;
  padding: 5px;
}