@font-face {
    font-family: 'Angelic Peace';
    src: url('/static/fonts/Angelic Peace.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#d1fffc 20%, transparent 20%),
    radial-gradient(#58e8de 20%, transparent 20%);
  background-color: #fafafa;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

main {
  margin: 5px 15px;
}

header {
  text-align: center;
  background-color:#FFC3D8;
  border-bottom: 1.25px solid #51382B;
  padding: 5px;
  width: 100%;
}

header a {
  font-family: "Angelic Peace", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  color:#51382B;
}

nav {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  gap: 0.25rem;
  padding: 0.25rem;
  font-size: 17px;
  margin: 5px 0;
}

nav a {
  display: inline-block;
  background-color: #FFC3D8;
  border: 1.25px solid #51382B;
  border-radius: 40px;
  min-width: 6.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color:#51382B;
}

.dropdown {
  position: absolute;
  right: 0;
  padding: 0.5rem;
  min-width: 5.5rem;
  margin-right: 10px;
  text-align: center;
  background-color: #FFC3D8;
  border: 1.25px solid #51382B;
  border-radius: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #51382B;
  border-radius: 15px;
  right: 0;
  margin-top: 5px;
}

.dropdown-content a {
  border-bottom: 1.5px solid #51382B;
  background-color: transparent;
  border-radius: 0;
  margin: 0 5px;
}

.dropdown-content a:last-of-type {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

form {
  border: 1.5px solid #51382B;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.clothing-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFC3D8;
  padding: 10px;
  width: 220px;
  border: 2px solid #FF91B8;
  border-radius: 5px;
  border-bottom-left-radius: 30px;
}

img {
  width: 180px;
  height: auto;
}

p {
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 2px solid #FF91B8;
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  width: 200px;
  height: auto;
  corner-bottom-left-shape: bevel;
}

footer {
  display: flex;
  background-color:#FFC3D8;
  border-top: 1.25px solid #51382B;
  font-size: 11px;
  padding: 5px;
}