@font-face {
    font-family: 'rascal';
    src: url('fonts/rascal.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:lightblue;
  color:#51382B;
}

main {
  padding: 8px;
}

header {
  text-align: center;
  background-color:#FFC3D8;
  padding: 5px;
  width: 100%;
}

header a {
  font-family: "Emilys Candy", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
  color:#51382B;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  padding: 0.15rem;
  gap: 0.5rem;
  font-size: 20px;
  margin: 5px;
}

nav a {
  display: inline-block;
  background-color: #FFC3D8;
  border-radius: 15px;
  min-width: 9rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color:#51382B;
}

.dropdown {
  position: absolute;
  right: 0;
  padding: 5px;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1.5px solid #51382B;
  border-radius: 15px;
  right: 0;
  margin-top: 5px;
}

.dropdown-content a {
  border-bottom: 1.5px solid #51382B;
  background-color: transparent;
  border-radius: 0;
  margin: 0 5px;
}

.dropdown-content a:last-of-type {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

form {
  border:1px solid #51382B;
  padding: 5px;
  margin: 5px;
}

.clothing-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  margin-left: 25px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFC3D8;
  padding: 10px;
  max-width: 200px;
  border: 2px solid #51382B;
  border-radius: 5px;
  border-bottom-left-radius: 30px;
}

img {
  width: 180px;
  height: auto;
}

p {
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 2px solid #51382B;
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  width: 180px;
  height: auto;
  corner-bottom-left-shape: bevel;
}

footer {
  display: flex;
  background-color:#FFC3D8;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  text-align: left;
}