<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digicloset</title>
    <link type="text/css" rel="stylesheet" href="/static/css/html.css"
</head>
<body>
    <header>
        <h1>CyberStyle</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/outfits">Outfits</a>
            </li>
        </ul>
    </nav>
    <form method="POST" action="/search">
        <input type="text" name="search" id="search">
        <input type="submit" value="Search">
    </form>
    <main>
        <article>
            {% for item in clothes %}
            <img src="/static/images/{{ item[4] }}.png" alt={{ item[4] }}>
            <p>Clothing Type: {{ item[1] }}</p>
            <p>Colour: {{ item[2] }}</p>
            <p>Weather: {{ item[3] }}</p>
            {% endfor %}
        </article>
    </main>
</body>
</html>