<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digicloset</title>
    <link type="text/css" rel="stylesheet" href="/static/css/html.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/">CyberStyle</a>
    </header>
    <nav>
        <a href="/inventory">Inventory</a>
        <a href="/outfits">Outfits</a>
    </nav>
    <main>
        <div class="text">
            <h1>Welcome to CyberStyle!</h1>
            <p>
                CyberStyle is a digital wardrobe & styling website. 
                Deciding on outfits can be an annoying and time consuming task. 
                Many clothing items get left unworn simply because they are forgotten about. 
                Creating fun and unique outfits can be a laborise task changing between many items, 
                creating a mess of your space as you trial options only to end up in your comfort sweats and tank. 
                CyberStyle is a digital closet designed to keep track of items and build outfits efficiently.
            </p>
        </div>
        <div class="images">
            <h2>Suggested Outfit:</h2>
            {% for item in top %}
            <article>
                <img src="/static/images/{{ item[5] }}.png" alt={{ item[5] }}>
            </article>
            {% endfor %}
            {% for item in bottom %}
            <article>
                <img src="/static/images/{{ item[5] }}.png" alt={{ item[5] }}>
            </article>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>Sabine Woolloff</p>
    </footer>
</body>
</html>