<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digicloset</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"
</head>
<body>
    <header>
        <h1>Inventory</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/outfits">Outfits</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Inventory</h2>
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Colour</th>
            </tr>
          </thead>
          <tbody>
            {% for item in clothes %}
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
</body>
</html>