<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digicloset</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"
</head>
<body>
    <header>
        <h1>Inventory</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/outfits">Outfits</a>
            </li>
        </ul>
    </nav>
    <main>
            {% for item in clothes %}
            <article>
                <h2>{{ item[0] }}</h2>
                <p>{{ item[1] }}</p>
                <img src="/static/images/{{ item[2] }}.jpg" alt={{ item[2] }}>
            </article>
            {% endfor %}
      </main>
</body>
</html>