<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digicloset</title>
    <link type="text/css" rel="stylesheet" href="/static/css/inventory.css"
</head>
<body>
    <header>
        <h1>Inventory</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/outfits">Outfits</a>
    </nav>
    <main>
        {% for item in clothes %}
        <article>
            <img src="/static/images/{{ item[3] }}.png" alt={{ item[3] }}>
            <p>Clothing type: {{ item[0] }}</p>
            <p>Colour: {{ item[1] }}</p>
            <p>Weather: {{ item[2] }}</p>
        </article>
        {% endfor %}
    </main>
</body>
</html>