<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/outfits.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/">CyberStyle</a>
    </header>
    <nav>
        <a href="/inventory">Inventory</a>
    </nav>
    <main class="ds-container">
        <div class="ds-half">
            <div class="speaker">
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
            </div>
            <div class="screen-frame">
                <section class="screen">
                    <div class="slider">
                        {% for top in tops %}
                            <img id="top-slide-{{ loop.index }}" src="/static/images/{{ top[1] }}.png" alt={{ top[1] }}>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="speaker">
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="hinge">
        </div>
        <div class="ds-half">
            <div class="controls">
                <div class="d-pad">
                    <div class="d-pad-horizontal"></div>
                    <div class="d-pad-vertical"></div>
                </div>
            </div>
            <div class="screen-frame">
                <section class="screen">
                    <div class="slider">
                        {% for bottom in bottoms %}
                            <img id="top-slide-{{ loop.index }}" src="/static/images/{{ bottom[1] }}.png" alt={{ bottom[1] }}>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="controls">
                <div class="abxy-buttons">
                    <span class="btn btn-top"></span>
                    <span class="btn btn-left"></span>
                    <span class="btn btn-right"></span>
                    <span class="btn btn-bottom"></span>
                </div>
                <div class="option-buttons">
                    <span></span><span></span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Sabine Woolloff</p>
    </footer>
</body>
</html>