<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/outfits.css"
</head>
<body>
    <header>
        <h1>Outfits</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
        </ul>
    </nav>

</body>
</html>