<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/outfits.css"
</head>
<body>
    <header>
        <h1>Outfits</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/inventory">Inventory</a>
    </nav>
    <main>
        <section class="container">
            <div class="slide-wrapper">
                <div class="slider">
                    <img id="slide-1" src="/static/images/t-shirt1.png">
                    <img id="slide-2" src="/static/images/t-shirt2.png">
                    <img id="slide-3" src="/static/images/t-shirt3.png">
                    <img id="slide-4" src="/static/images/t-shirt4.png">
                    <img id="slide-5" src="/static/images/t-shirt5.png">
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                    <a href="#slide-4"></a>
                    <a href="#slide-5"></a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>